
.banner{
  height:80vh;
  width:100%;
  text-align:center;
  overflow:hidden;
  position:relative;
  background:black

}

.slider{
  position:absolute;
  top:10%;
  height:250px;
  width:200px;
  left: calc(50% - 100px);
  transform-style: preserve-3d; 
  transform: perspective(2000px);
  animation: autoRun 20s linear infinite ;
  z-index: 2;
}



@keyframes autoRun {
    from{
        transform: perspective(2000px) rotateX(-10deg) rotateY(0deg);
    }
    to{
        transform: perspective(2000px) rotateX(-10deg) rotateY(360deg);

    }
}
.slider .item{
  position:absolute;
  inset:0;
  transform: 
     rotateY(calc((var(--position) - 1) * (360 / var(--quantity))* 1deg))
     translateZ(550px);
}

.item img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius: 10px;
  border: 2px solid white;
}


