@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.box {
    max-width: 300px;
    padding: 0.6rem;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(40, 22, 82), #DBAA2F) border-box;
    border: 5px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 10s;
    animation-iteration-count: infinite;
    transition: all ease 0.3s;
}

.box img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}